/* General Styles */
main {
    padding: 40px;
}

body {
    background-color: rgba(0, 0, 0, 0.05);
}

.services {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: none;
    table-layout: fixed;
}

td {
    padding: 30px 20px;
    vertical-align: top;
    border-bottom: none;
    width: 33.33%;
    min-height: 400px;
    max-height: 800px;
}

.service {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 600px;
    max-height: 800px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.service img {
    object-fit: cover;
    height: 230px;
    width: 100%;
    margin-bottom: 15px;
}

.service h3 {
    font-size: 35px;
    margin: 10px 30px 20px 30px;
}

.service p {
    font-size: 15px;
    line-height: 25px;
    margin: 0 30px;
    color: #666;
}

a {
    text-decoration: none;
}

p {
    font-size: 20px;
}

#companyDiv {
    display: flex;
    background-color: #253450;
    width: 100%;
    height: 91vh;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
}

#companyDiv > div {
    height: 100%;
}

.left {
    margin-left: 150px;
    color: white;
    width: 700px;
    /* border: 1px solid red; */
    height: fit-content;
    align-items: center;
    display: flex;
    z-index: 1;
}

#leftText {
    height: fit-content;
    margin: auto;
    /* border: 1px solid red; */

}

.companyClass h1,
.companyClass {
    text-align: left;
}

.companyClass {
    width: 80%;
    margin: auto;
    line-height: 30px;
}

.btn {
    padding: 15px 20px;
    background-color: #dbbf8b;
    color: white;
    border: none;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    border-radius: 20px 0 20px 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

.btn:hover {
    background-color: #c5ab7d;
}

.btn i {
    font-size: 15px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.btn:hover i {
    transform: translateX(7px);
}

#desc {
    width: 450px;
    margin: auto;
    text-align: center;
    font-size: 18px;
}

/* Globe Container */
#globe-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

#globe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

/* Responsive Styles */
@media (max-width: 900px) {
    #companyDiv {
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        height: 91vh;
    }

    #globe-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0; /* Behind the left div */
    }

    .left {
        margin: 15vh auto;
        width: 500px;
        height: 100vh;
        text-align: left;
        z-index: 1; /* In front of the globe */
        /* border: 1px solid red; */
        position: relative;
        /* padding: 20px; */
    }

    #leftText {
        width: 90%;
        margin: 50px auto;
        color: white;
        /* border: 1px solid red; */
    }
    /* #leftText>h1{
        margin: auto;
    } */

    table tr,
    table td {
        display: block;
        width: 90%;
        margin: auto;
    }

    .service {
        height: fit-content;
    }

    .service > img {
        height: 45vh;
    }

    .service p {
        padding-bottom: 30px;
    }
}
