.loader {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background: white;
     transition: opacity 0.25s, visibility 0.25s;
     z-index: 2000;
}

.loader--hidden {
     opacity: 0;
     visibility: hidden;
}

.loader::after {
     content: "";
     width: 75px;
     height: 75px;
     border: 8px solid transparent; /* Outer border is semi-transparent */
     border-top-color: rgba(255, 217, 0, 0.79);
     border-right-color: rgba(255, 217, 0, 0.79);
     border-radius: 50%;
     animation: outer-ring-spin 1s linear infinite;
     position: relative;
}

.loader::before {
     content: "";
     width: 40px;
     height: 40px;
     border: 6px solid transparent;
     border-top-color: rgba(0, 153, 255, 0.8); /* Inner ring color */
     border-radius: 50%;
     position: absolute;
     animation: inner-ring-spin 0.5s linear infinite reverse; /* Spins in opposite direction */
}

@keyframes outer-ring-spin {
     from {
          transform: rotate(0deg);
     }
     to {
          transform: rotate(360deg);
     }
}

@keyframes inner-ring-spin {
     from {
          transform: rotate(0deg);
     }
     to {
          transform: rotate(360deg);
     }
}