@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

canvas {
  vertical-align: top;
}

.dg.a {
	margin-top: 10px;
	min-width: 300px;
}

.app-wrapper {
	position: fixed;
	left: 0;
	top: 0;
}